//main app
$border: #ccc; //#e3e3e3;
$app-bg: #f2f2f2; //#f1f5f7;

//font colors
$text: #3b3f4f;
$text-light: rgba($text, 0.8);
$text-lighter: rgba($text, 0.7);
$link: #2980b9;

//nav
$nav-bg: $white;
$nav-text: $text;
$nav-github: $text;

//sidebar
$sidebar-bg: $white;
$sideitem-hover: rgba($black, 0.05);
$sideitem-active: rgba($black, 0.02);
$sideitem-ico: $primary;
$sideitem-text: $text-light;
$sideitem-text-disabled: $text-lighter;
$sideitem-ico-disabled: rgba($primary, 0.7);

//file upload
$upload-bg: $white;
$upload-border: #e3e3e3;
$upload-border-size: 2px;
$upload-border-drag: rgba($primary, 0.4);
$upload-svg: $border;

//buttons
$btn-ico: $primary;
$btn-bg: $primary;
$btn-bg-hover: rgba($primary, 0.9);
$btn-bg-active: rgba($primary, 0.7);
$btn-color: $white;
$btn-save-color: $text;

//button groups
$btn-group-border: $border;
$btn-group-bg: $white;
$btn-group-bg-hover: rgba($primary, 0.9);
$btn-group-bg-active: rgba($primary, 0.7);
$btn-group-svg: rgba($text, 0.6);
$btn-group-bg-disabled: $white;
$btn-group-svg-disabled: #bcbcbc;

//input
$input-bg: $white;
$input-text: $text;
$input-hover: rgba($text, 0.1);
$input-focus: rgba($text, 0.1);
$input-border: $border;
$input-border-focus: rgba($text, 1);
$label: $text-light;

//element properties
$properties-bg: $white;
$properties-border-vertical: $primary;
$properties-border: $border;
$properties-svg: rgba($black, 0.6);
$properties-font-bg: $white;
$properties-shadow: 0 8.8px 13.8px rgba(0, 0, 0, 0.099),
0 28px 80px rgba(0, 0, 0, 0.41);
$properties-font-hover: $primary;
$properties-font-color-hover: $white;


//colorpicker
$picker-border: $border;


.light {

    //app background
    background: $app-bg;
    color: $text;



    //navigation
    .nav {
        background: $nav-bg;
    }

    .nav-title {
        color: $nav-text;
        font-weight: 600;
    }

    .btn-git {
        fill: $nav-github !important;
    }



    //sidebar
    .sidebar {
        background: $sidebar-bg;
        border-right: 1px solid $border;
    }

    .side-item:hover {
        background: $sideitem-hover;
    }

    .side-item:active {
        background: $sideitem-active;
    }

    .side-ico {
        fill: $primary;
    }

    .side-text {
        font-size: $desc;
        color: $sideitem-text;
    }

    .sidebar-dis {
        .side-text {
            color: $sideitem-text-disabled !important;
        }

        .side-ico {
            fill: $sideitem-ico-disabled !important;
        }
    }




    //buttons
    .btn-ico {
        fill: $primary;
    }

    .btn {
        background: $primary;
        color: $white;
    }

    .btn>svg {
        fill: $white;
    }

    .btn:hover {
        background: rgba($primary, 0.9);
    }

    .btn:active {
        background: rgba($primary, 0.7);
    }

    .btn-o {
        background: $white;
        color: $primary;
    }

    .btn-o>svg {
        fill: $primary !important;
    }

    .btn-o:hover {
        background: rgba($black, 0.1);
    }

    .btn-o:active {
        background-color: rgba($black, 0.2);
    }



    //button groups
    .btn-i {
        border-top: 1px solid $btn-group-border;
        border-bottom: 1px solid $btn-group-border;
        border-right: 1px solid $btn-group-border;
        background: $btn-group-bg;
        color: $btn-group-svg;
    }

    .btn-i>svg {
        fill: $btn-group-svg;
    }

    .btn-group>button:first-child {
        border-left: 1px solid $btn-group-border;
    }

    .btn-i:hover {
        background: $btn-group-bg-hover;
    }

    .btn-i:active {
        background: $btn-group-bg-active;
    }

    .btn-save {
        color: $btn-save-color !important;
    }

    //disabled button group
    .btn-group-dis {
        .btn-i {
            cursor: unset !important;
            background: $btn-group-bg-disabled !important;
            color: $btn-group-svg-disabled !important;
        }

        .btn-i:hover {
            background: $btn-group-bg-disabled !important;
        }

        .btn-i>svg {
            fill: $btn-group-svg-disabled !important;
        }
    }



    //input
    .text-input>input,
    textarea {
        background: $input-bg;
        color: $input-text;
        border-bottom: 1px solid $input-border;
    }

    .text-input>input:hover,
    textarea:hover {
        background: $input-hover;
    }

    .text-input>input:focus,
    textarea:focus {
        border-bottom: 1px solid $input-border-focus;
        background: $input-focus;
    }

    .text-input>.label {
        color: $label;
    }



    //file upload
    .editor-drop {
        border: $upload-border-size solid $upload-border;
        background: $upload-bg;
    }

    .editor-drag {
        opacity: 0.6;
        border: 4px dashed $upload-border-drag;
    }

    .d-info>svg {
        fill: $upload-svg;
    }



    //typography
    .desc {
        color: $text-light;
    }

    .overline {
        color: $text-lighter;
    }

    hr {
        display: block;
        padding: 0px;
        margin: 0px;
        width: 100%;
        border: 0px;
        height: 1px;
        background: $border;
    }

    .link {
        color: $link;
    }





    //edit
    .element-properties {
        background: $properties-bg;
        border-top: 3px solid $properties-border-vertical;
        border-bottom: 3px solid $properties-border-vertical;
        border-left: 1px solid $properties-border;
        box-shadow: $properties-shadow;
    }

    .element-properties svg {
        fill: $properties-svg;
    }

    .font-list {
        background: $properties-font-bg;
        border: 1px solid $properties-border;
    }

    .font-item:hover {
        background: $properties-font-hover;
        color: $properties-font-color-hover;
    }


    //colorpicker
    .color-pick {
        border: 1px solid $picker-border;
        box-shadow: 0px 0px 2px 0px $picker-border;
    }

    .color {
        border: 1px solid $picker-border;
    }


}