//main colors
$primary: #426ff4;
$secondary: #badc58;

//main app
$border: #ccc; //#e3e3e3;
$app-bg: #f2f2f2; //#f1f5f7;
//F3F3F3

//main font colors
$text: #3b3f4f;
$text-light: rgba($text, 0.8);
$text-lighter: rgba($text, 0.7);
$link: #2980b9;

//file upload
$upload-border: #e3e3e3;
$upload-svg-border: #ccc;
$upload-border-size: 2px;

//group buttons
$group-button: $white;
$group-svg: rgba($text, 0.6);
$group-border: $border;

//range
$range-track: #e0e0e0;
$range-track-hover: #c5c5c5;
$range-handler: rgba($primary, 0.9);



//disabled group buttons
$group-button-disabled: #fff; //#e6e6e6;
$group-svg-disabled: #bcbcbc;

//disabled range
$range-handler-disabled: #9ab1f3;

//input
$input: #f4f4f4;

//elements
$element: $white;
$element-border: $border;
$property-border-top: $primary;
$element-shadow: 0 8.8px 13.8px rgba(0, 0, 0, 0.099),
0 28px 80px rgba(0, 0, 0, 0.41)
;
$element-svg: rgba($black, 0.6);
$font-list: $white;


.light {

    //app background
    background: $app-bg;
    color: $text;



    //navigation
    .nav {
        background: $white;
    }

    .nav-title {
        color: $text;
        font-weight: 600;
    }




    //buttons
    .btn-ico {
        fill: $primary;
    }

    .btn-git {
        fill: $text !important;
    }

    .btn {
        background: $primary;
        color: $white;
    }

    .btn>svg {
        fill: $white;
    }

    .btn:hover {
        background: rgba($primary, 0.9);
    }

    .btn:active {
        background: rgba($primary, 0.7);
    }

    .btn-o {
        background: $white;
        color: $primary;
    }
    .btn-o > svg {
        fill: $primary !important;
    }

    .btn-o:hover {
        background: rgba($black, 0.1);
    }

    .btn-o:active {
        background-color: rgba($black, 0.2);
    }

    //button groups
    .btn-i {
        border-top: 1px solid $group-border;
        border-bottom: 1px solid $group-border;
        border-right: 1px solid $group-border;
        background: $group-button;
        color: $group-svg;
    }

    .btn-i>svg {
        fill: $group-svg;
    }

    .btn-group>button:first-child {
        border-left: 1px solid $group-border;
    }

    .btn-i:hover {
        background: rgba($black, 0.1);
    }

    .btn-i:active {
        background-color: rgba($black, 0.2);
    }

    .btn-save {
        color: rgba($text, 1) !important;
    }




    //sidebar
    .sidebar {
        background: $white;
        border-right: 1px solid $border;
    }

    .side-item:hover {
        background: rgba($black, 0.05);
    }

    .side-item:active {
        background: rgba($black, 0.2);
    }

    .side-ico {
        fill: $primary;
    }

    .side-text {
        font-size: $desc;
        color: $text-light;
    }




    //file upload
    .editor-drop {
        border: $upload-border-size solid $upload-border;
        background: $white;
    }

    .editor-drag {
        opacity: 0.6;
        border: 4px dashed rgba($primary, 0.4);
    }

    .d-info>svg {
        fill: $border;
    }





    //typography
    .desc {
        color: $text-light;
    }

    .overline {
        color: $text-lighter;
    }



    hr {
        display: block;
        padding: 0px;
        margin: 0px;
        width: 100%;
        border: 0px;
        height: 1px;
        background: $border;
    }

    .link {
        color: $link;
    }



    //range slider
    .range {
        background: $range-track;
    }

    //range handdler
    .range::-webkit-slider-thumb {
        background: $range-handler;
    }

    .range::-moz-range-thumb {
        background: $range-handler;
    }

    //track
    .range:hover {
        background: $range-track-hover;
    }

    ::-moz-range-track {
        background: $range-track-hover;
    }

    .range-group svg {
        fill: $group-svg;
        cursor: pointer;
    }




    //disabled sidebar items
    .sidebar-dis {
        .side-text {
            color: $text-lighter !important;
        }

        .side-ico {
            fill: rgba($primary, 0.7) !important;
        }
    }

    //disabled button group
    .btn-group-dis {
        .btn-i {
            cursor: unset !important;
            background: $group-button-disabled !important;
            color: $group-svg-disabled !important;
        }

        .btn-i:hover {
            background: $group-button-disabled !important;
        }

        .btn-i>svg {
            fill: $group-svg-disabled !important;
        }
    }

    //disabled range handdler
    .range-group-dis {
        .range::-webkit-slider-thumb {
            background: $range-handler-disabled !important;
            cursor: unset !important;
        }

        .range::-moz-range-thumb {
            background: $range-handler-disabled !important;
            cursor: unset !important;
        }

        .range::-moz-range-thumb:hover {
            width: 17px !important;
            height: 17px !important;
        }

        .range::-webkit-slider-thumb:hover {
            width: 17px !important;
            height: 17px !important;
        }

        //disabled range track
        //track
        .range:hover {
            background: $range-track !important;
        }

        svg {
            fill: $group-svg-disabled !important;
            cursor: unset !important;
        }

    }



    //edit
    .text-input>input, textarea {
        background: $white;
        color: $text;
        border-bottom: 1px solid $border;
    }

    .text-input>input:hover, textarea:hover {
        background: rgba($text, 0.1);
    }

    .text-input>input:focus, textarea:focus {
        border-bottom: 1px solid rgba($text, 1);
        background: rgba($text, 0.1);
    }

    .text-input>.label {
        color: $text-light;
    }

    .element-properties {
        background: $element;
        border-top: 3px solid $property-border-top;
        border-bottom: 3px solid $property-border-top;
        border-left: 1px solid $element-border;
        box-shadow: $element-shadow;
    }

    .element-properties svg {
        fill: $element-svg;
    }

    .font-list {
        background: $font-list;
        border: 1px solid $element-border;
    }

    .font-item:hover {
        background: $primary;
        color: $white;
    }

    //colorpicker
    .color-pick {
        border: 1px solid $border;
        box-shadow: 0px 0px 2px 0px $border;
    }
    .color { border: 1px solid $border; }
}