

$nav-height: 55px;

//background colors
$white: #fff;
$black: #000;

//main colors
$primary: #426ff4;
$secondary: #badc58;


//font sizes
$logo: 25px;
$nav: 16px;

$title: 20px;
$desc: 14px;
$desc-m: 13px;
$overline: 10px;
$label: 11px;