.editor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: width .25s ease;
    overflow: hidden;
}

.editor-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;

    height: 77px;
    width: 100%;
    z-index: 7;
}


//file upload box
.editor-drop {
    width: 450px;
    border-radius: 4px;
    transform: translateY(-30%);
    transition: all .1s;
    z-index: 7;
}

.drop-content {
    padding: 10px 20px 20px 20px;
}
.d-over {
    padding-top: 25px;
}
.d-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.d-info > svg {
    width: 140px;
    height: 140px;
}



//image settings
.btns-save {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.btns-flip {
    position: absolute;
    bottom: 20px;
    right: 30px;
}