//element properties
.element-properties {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 250px;
    padding: 14px 0px;
    
    right: 20px;

    border-radius: 5px;
    z-index: 7;
}

.element-properties > .title {
    padding: 14px 0px 14px 20px;
}
.element-properties .btn-i {
    height: 36px !important;
    width: 33px !important;
}

.property-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
    transition: all .25s linear;
}



//actual elements
.element-active {
    outline: 2px dashed white !important;
}

.element-active:hover {
    outline: 2px dashed white !important;
    cursor: grab !important;
}

.text-element {
    position: absolute;
    z-index: 8;
    font-size: 35px;
    padding: 13px;
    margin: 0px;
    transition: outline .15s;
    outline: 2px dashed transparent;
}

.text-element:hover {
    outline: 2px dashed rgba(white, 0.5);   
    cursor: pointer;
}

.background-element {
    position: absolute;
    z-index: 5;
    transition: outline .15s;
    outline: 2px dashed transparent;
}

.background-element:hover {
    outline: 2px dashed rgba(white, 0.5);   
    cursor: pointer;
}

.background-move {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2px;
    right: 2px;
    background: white;
    height: 17px;
    width: 17px;
    cursor: pointer;
}

.property-anim {
    animation: property_anim 0.25s linear;
}

@keyframes property_anim {
    0% {
      opacity: 0.5;
      transform: translateX(10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  