.image {
    position: absolute;
    top: calc(50% - 35px);
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
}

.img-anim {
    animation: anim 0.1s linear;
}

@keyframes anim {
    0% {
      opacity: 0.5;
      transform: translateY(-50%) translateX(-50%) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(-50%) translateX(-50%) scale(1);
    }
  }
  