.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $nav-height;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 10;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-title {
    padding-left: 25px;
}